.btnLogin, .btnLoginGmail {
    margin-bottom: 10%;
    width: 132px;
    height: 32px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #F9F9F9;
    background-color: #678AFF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btnLoginGmail {
    font-size: 10px;
    font-weight: bold;
    background-color: #ff1d1dff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin:hover {
    background-color: #84a1ff;
    transform: scale(1.1);
}

.btnLoginGmail:hover {
    background-color: #fc4747ff;
    transform: scale(1.1);
}

.logoGmail {
    height: 20px;
    width: 20px;
    padding-left: 5%;
}