.Container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
  width: 720px;
  background-color: white;
  border-radius: 20px;
}

#logo {
  margin-top: 6%;
  height: 20%;
  width: 40%;
}

h1 {
  font-size: 24px;
  color: rgb(78, 78, 78);
  margin-bottom: 5%;
}

.inputs {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#login {
    margin-bottom: 10%;
}

#login, #senha {
    background-color: #EAEAEA;
    height: 35px;
    width: 270px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
}

#login::placeholder, #senha::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

.buttons {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

#Entrar-btn, #Entrar-Gmail-btn {
    margin-bottom: 10%;
    width: 132px;
    height: 32px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #F9F9F9;
    background-color: #678AFF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#Entrar-btn:hover {
    background-color: #84a1ff;
    transform: scale(1.1);
}

#Entrar-Gmail-btn {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    background-color: #F61C1C;
    margin-top: 10px;
    padding-left: 8px;
}

#Entrar-Gmail-btn:hover {
    background-color: #fa4b4b;
    transform: scale(1.1);
}

#logo-gmail {
    height: 20px;
    width: 20px;
    padding-left: 5%;
}