body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}