@keyframes Animation {
    from { transform: scale(1); }
    50% { transform: scale(1.1); }
    to { transform: scale(1); }
}

.Container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
  width: 720px;
  background-color: white;
  border-radius: 20px;
}

#logo {
  margin-top: 6%;
  height: 20%;
  width: 40%;
}

h1 {
  font-size: 24px;
  color: rgb(78, 78, 78);
  margin-bottom: 5%;
  transition: all 0.2s ease-in-out;
  animation-name: Animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.inputs {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.buttons {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}