@keyframes Animation {
    from { transform: scale(1); }
    50% { transform: scale(1.1); }
    to { transform: scale(1); }
}

.Container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
  width: 720px;
  background-color: white;
  border-radius: 20px;
}

.logo {
  margin-top: 6%;
  height: 20%;
  width: 40%;
}

h1 {
  font-size: 24px;
  color: rgb(78, 78, 78);
  margin-bottom: 5%;
  transition: all 0.2s ease-in-out;
  animation-name: Animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.inputs {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.inputLogin, .inputPassword {
    background-color: #f5f5f5;
    height: 35px;
    width: 270px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    transition: all 0.3s ease-in-out;
}

.inputLogin::placeholder, .inputPassword::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

.inputLogin:hover, .inputPassword:hover {
    transform: scale(1.1);
}

.inputLogin {
    margin-bottom: 10%;
}

.buttons {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.btnLogin, .btnLoginGmail {
    margin-bottom: 10%;
    width: 132px;
    height: 32px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #F9F9F9;
    background-color: #678AFF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btnLoginGmail {
    font-size: 10px;
    font-weight: bold;
    background-color: #ff1d1dff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin:hover {
    background-color: #84a1ff;
    transform: scale(1.1);
}

.btnLoginGmail:hover {
    background-color: #fc4747ff;
    transform: scale(1.1);
}

.logoGmail {
    height: 20px;
    width: 20px;
    padding-left: 5%;
}