.inputLogin, .inputPassword {
    background-color: #f5f5f5;
    height: 35px;
    width: 270px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    transition: all 0.3s ease-in-out;
}

.inputLogin::placeholder, .inputPassword::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

.inputLogin:hover, .inputPassword:hover {
    transform: scale(1.1);
}

.inputLogin {
    margin-bottom: 10%;
}