#Head-Table, #Button {
    background-color: rgb(80, 80, 80);
    font-weight: bold;
    color: white;
}

#First-Supplier, #Third-Supplier {
    background-color: rgb(29, 172, 255);
    color: white;
    font-weight: bold;
}

button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}

#Edit-Button:hover {
    background-color: rgb(24, 39, 255);
    border-radius: 20px;
}

#Delete-Button:hover {
    background-color: rgb(255, 94, 94);
    border-radius: 20px;
}

#Edit2-Button, #Delete2-Button {
    color: black;
}

#Edit2-Button:hover {
    background-color: gray;
    border-radius: 20px;
}

#Delete2-Button:hover {
    background-color: rgb(255, 94, 94);
    border-radius: 20px;
}